body {
	background-color:#666666;
}
main{
	color:grey;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	margin-bottom: 20px;
}
canvas {
	padding: 3px;
	background-color: black;
	border-radius: 16px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
	border: 8px solid black;
	box-shadow: 10px 10px 0px white;
}
